In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
path = r"C:\Users\Sebma\OneDrive\Documents\Sparta_Global\Academy\Week 7\Project\heart_converted.parquet"
heart_df = pd.read_parquet(path)
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Columns: 326 entries, _STATE to _AIDTST4
dtypes: float64(321), object(5)
memory usage: 1.1+ GB

In [6]:
heart_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,02032022,02,03,2022,1100.0,2022000004,2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,02022022,02,02,2022,1100.0,2022000005,2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0

In [7]:
variable_names = [
    "State",
    "Sex",
    "General Health",
    "Physical Health Days",
    "Mental Health Days",
    "Last Checkup Time",
    "Physical Activities",
    "Sleep Hours",
    "Removed Teeth",
    "Had Heart Attack",
    "Had Angina",
    "Had Stroke",
    "Had Asthma",
    "Had Skin Cancer",
    "Had COPD",
    "Had Depressive Disorder",
    "Had Kidney Disease",
    "Had Arthritis",
    "Had Diabetes",
    "Deaf or Hard of Hearing",
    "Blind or Vision Difficulty",
    "Difficulty Concentrating",
    "Difficulty Walking",
    "Difficulty Dressing Bathing",
    "Difficulty Errands",
    "Smoker Status",
    "ECigarette Usage",
    "Chest Scan",
    "Race Ethnicity Category",
    "Age Category",
    "Height in Meters",
    "Weight in Kilograms",
    "BMI",
    "Alcohol Drinkers",
    "HIV Testing",
    "Flu Vax Last12",
    "Pneumo Vax Ever",
    "Tetanus Last 10Tdap",
    "High Risk Last Year",
    "Covid Pos"
]

# Reading the variable CSV into a Pandas dataframe:

### Explanation:
The CSV containing the chosen variables

In [8]:
var_path = r"C:\Users\Sebma\OneDrive\Documents\Sparta_Global\Academy\Week 7\Project\Variable_descriptions.csv"
var_df = pd.read_csv(var_path, names=['Variable', 'Description'])
var_df

    Variable                                        Description
0     _STATE                                    State FIPS Code
1     SEXVAR                                  Sex of Respondent
2    GENHLTH      Would you say that in general your health is:
3   PHYSHLTH  Now thinking about your physical health, which...
4   MENTHLTH  Now thinking about your mental health, which i...
5   CHECKUP1  About how long has it been since you last visi...
6   EXERANY2  During the past month, other than your regular...
7   SLEPTIM1  On average, how many hours of sleep do you get...
8   RMVTETH4  Not including teeth lost for injury or orthodo...
9   CVDINFR4  (Ever told) you had a heart attack, also calle...
10  CVDCRHD4  (Ever told) (you had) angina or coronary heart...
11  CVDSTRK3                    (Ever told) (you had) a stroke.
12   ASTHMA3                      (Ever told) (you had) asthma?
13  CHCSCNC1  (Ever told) (you had) skin cancer that is not ...
14  CHCCOPD3  (Ever told) (you had) C.O.P.D. (chronic obstru...
15  ADDEPEV3  (Ever told) (you had) a depressive disorder (i...
16  CHCKDNY2  Not including kidney stones, bladder infection...
17  HAVARTH4  (Ever told) (you had) some form of arthritis, ...
18  DIABETE4                    (Ever told) (you had) diabetes?
19      DEAF  Are you deaf or do you have serious difficulty...
20     BLIND  Are you blind or do you have serious difficult...
21    DECIDE  Because of a physical, mental, or emotional co...
22  DIFFWALK  Do you have serious difficulty walking or clim...
23  DIFFDRES        Do you have difficulty dressing or bathing?
24  DIFFALON  Because of a physical, mental, or emotional co...
25  _SMOKER3   Four-level smoker status: Everyday smoker, So...
26  ECIGNOW2  Would you say you have never used e-cigarettes...
27  LCSCTSC1  Have you ever had a CT or CAT scan of your che...
28  _RACEGR4                 Five-level race/ethnicity category
29  _AGEG5YR                        Fourteen-level age category
30      HTM4                          Reported height in meters
31     WTKG3                       Reported weight in kilograms
32     _BMI5                              Body Mass Index (BMI)
33  DRNKANY6  Adults who reported having had at least one dr...
34  _AIDTST4           Adults who have ever been tested for HIV
35  FLUSHOT7  During the past 12 months, have you had either...
36  PNEUVAC4  Have you ever had a pneumonia shot also known ...
37  TETANUS1  Have you received a tetanus shot in the past 1...
38  HIVRISK5  You have injected any drug other than those pr...
39  COVIDPOS  Has a doctor, nurse, or other health professio...

In [9]:
var_array = var_df['Variable'].to_numpy()
var_array

array(['_STATE', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'CHECKUP1',
       'EXERANY2', 'SLEPTIM1', 'RMVTETH4', 'CVDINFR4', 'CVDCRHD4',
       'CVDSTRK3', 'ASTHMA3', 'CHCSCNC1', 'CHCCOPD3', 'ADDEPEV3',
       'CHCKDNY2', 'HAVARTH4', 'DIABETE4', 'DEAF', 'BLIND', 'DECIDE',
       'DIFFWALK', 'DIFFDRES', 'DIFFALON', '_SMOKER3', 'ECIGNOW2',
       'LCSCTSC1', '_RACEGR4', '_AGEG5YR', 'HTM4', 'WTKG3', '_BMI5',
       'DRNKANY6', '_AIDTST4', 'FLUSHOT7', 'PNEUVAC4', 'TETANUS1',
       'HIVRISK5', 'COVIDPOS'], dtype=object)

In [10]:
heart_df = heart_df[var_array]

In [11]:
heart_df.columns = variable_names
heart_df

,State,Sex,General Health,Physical Health Days,Mental Health Days,Last Checkup Time,Physical Activities,Sleep Hours,Removed Teeth,Had Heart Attack,...,Height in Meters,Weight in Kilograms,BMI,Alcohol Drinkers,HIV Testing,Flu Vax Last12,Pneumo Vax Ever,Tetanus Last 10Tdap,High Risk Last Year,Covid Pos
0,1.0,2.0,2.0,88.0,88.0,1.0,2.0,8.0,NaN,2.0,...,NaN,NaN,NaN,2.0,2.0,1.0,2.0,3.0,2.0,2.0
1,1.0,2.0,1.0,88.0,88.0,8.0,2.0,6.0,NaN,2.0,...,160.0,6804.0,2657.0,2.0,2.0,2.0,2.0,4.0,2.0,2.0
2,1.0,2.0,2.0,2.0,3.0,1.0,1.0,5.0,NaN,2.0,...,157.0,6350.0,2561.0,2.0,2.0,2.0,2.0,7.0,2.0,1.0
3,1.0,2.0,1.0,88.0,88.0,1.0,1.0,7.0,NaN,2.0,...,165.0,6350.0,2330.0,2.0,2.0,1.0,1.0,4.0,2.0,2.0
4,1.0,2.0,4.0,2.0,88.0,1.0,1.0,9.0,NaN,2.0,...,157.0,5398.0,2177.0,1.0,2.0,2.0,1.0,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,2.0,3.0,88.0,3.0,2.0,1.0,6.0,8.0,2.0,...,165.0,6985.0,2563.0,7.0,1.0,2.0,2.0,4.0,2.0,1.0
445128,78.0,2.0,1.0,2.0,2.0,1.0,1.0,7.0,8.0,2.0,...,170.0,8301.0,2866.0,2.0,1.0,1.0,2.0,3.0,2.0,2.0
445129,78.0,2.0,5.0,30.0,30.0,4.0,2.0,5.0,1.0,2.0,...,170.0,4990.0,1723.0,7.0,2.0,2.0,2.0,4.0,2.0,2.0
445130,78.0,1.0,2.0,88.0,88.0,1.0,2.0,5.0,8.0,1.0,...,183.0,10886.0,3255.0,2.0,1.0,1.0,1.0,4.0,2.0,1.0
445131,78.0,1.0,2.0,88.0,1.0,8.0,1.0,5.0,8.0,2.0,...,168.0,6350.0,2260.0,1.0,2.0,2.0,2.0,3.0,2.0,2.0

In [ ]:
State = {
    1: "Alabama",
    2: "Alaska",
    4: "Arizona",
    5: "Arkansas",
    6: "California",
    8: "Colorado",
    9: "Connecticut",
    10: "Delaware",
    11: "District of Columbia",
    12: "Florida",
    13: "Georgia",
    15: "Hawaii",
    16: "Idaho",
    17: "Illinois",
    18: "Indiana",
    19: "Iowa",
    20: "Kansas",
    21: "Kentucky",
    22: "Louisiana",
    23: "Maine",
    24: "Maryland",
    25: "Massachusetts",
    26: "Michigan",
    27: "Minnesota",
    28: "Mississippi",
    29: "Missouri",
    30: "Montana",
    31: "Nebraska",
    32: "Nevada",
    33: "New Hampshire",
    34: "New Jersey",
    35: "New Mexico",
    36: "New York",
    37: "North Carolina",
    38: "North Dakota",
    39: "Ohio",
    40: "Oklahoma",
    41: "Oregon",
    42: "Pennsylvania",
    44: "Rhode Island",
    45: "South Carolina",
    46: "South Dakota",
    47: "Tennessee",
    48: "Texas",
    49: "Utah",
    50: "Vermont",
    51: "Virginia",
    53: "Washington",
    54: "West Virginia",
    55: "Wisconsin",
    56: "Wyoming",
    66: "Guam",
    72: "Puerto Rico",
    78: "Virgin Islands"
}

In [12]:
main_heart_df = heart_df.copy()